.table {
  max-width: 770px;
  background-color: white;
  border: 2px solid rgb(230, 233, 236);
  border-radius: 5px;
  margin-left: 32px;

  &__container{
    position: relative;
    border-collapse: collapse;
  } 

  &__row {
    text-align: left;
    border-bottom: 1px solid rgb(230, 233, 236);
    
    &:nth-child(2n + 3) {
      background-color: rgb(245, 248, 250);
    }

    &:first-child,
    &:last-child {
      border-bottom: transparent;
    }
  }

  &__heading {
    padding: 30px 55px 5px 35px;
    font-size: 11px;
    color: rgb(127, 143, 164);

    &:first-child {
      padding-right: 125px;
      font-size: 20px;
      font-weight: normal;
      color: black;
    }
  }

  &__cell {
    padding: 10px 0 10px 35px;

    font-size: 11px;
    font-family: "SourceSansPro-Bold";

    &:last-child {
      padding-right: 112px;
    }
  }

  &__sort {
    position: absolute;
    top: 38px;
    right: 79px;
    width: 10px;
    height: 10px;
    border: none;
    outline: none;
    background: url(../../images/SortMarks.svg) no-repeat center;
  }
}

@media (max-width: 1024px) {
  .table {
    display: none;
  }
}