.content {
  display: flex;
  background-color: rgb(239, 243, 246);

  &__container {
    overflow: auto;
    width: 100%;
  }

  &__central {
    overflow: auto;
    display: flex;
    flex-direction: column;

    width: 100%;
  }
}

.main {
  margin: 0 auto;
  overflow: auto;
  display: flex;
  max-width: 1230px;
}

@media (max-width: 760px) {
  .main {
    &__content {
      margin-left: 50px;
    }
  }
}

@media (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    &__content {
      margin-left: 50px;
    }
  }
}
